services:
  airflow:
    build: ./airflow
    container_name: airflow
    restart: unless-stopped
    environment:
      PYTHONPATH: /opt/airflow/src
      # Config básica de Airflow
      AIRFLOW_HOME: /opt/airflow
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      # 1. CAMBIO IMPORTANTE: Guardar la DB en una carpeta dedicada 'data'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/data/airflow.db
      # Deshabilitar login para simplificar (solo dev)
      AIRFLOW__WEBSERVER__AUTHENTICATE: "False"
      # Solución al error de módulos
      _AIRFLOW_WWW_USER_CREATE: "False"
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./data_sipc:/opt/airflow/data_sipc
      - ./src:/opt/airflow/src
      # 2. CAMBIO IMPORTANTE: Volumen para guardar la base de datos
      - ./airflow/data:/opt/airflow/data
    ports:
      - "8080:8080"
    # 3. CAMBIO IMPORTANTE: Comando limpio. Sin 'chmod' ni 'db init'.
    command: >
      bash -c "
        mkdir -p /opt/airflow/logs /opt/airflow/dags /opt/airflow/plugins /opt/airflow/data &&
        chmod -R 777 /opt/airflow/logs /opt/airflow/data &&
        airflow db init &&
        airflow users create --username admin --firstname Airflow --lastname Admin --email airflowadmin@example.com --role Admin --password admin || true &&
        airflow webserver & 
        airflow scheduler
      "

  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: jupyter-spark
    restart: unless-stopped
    environment:
      JUPYTER_ENABLE_LAB: "yes"
    volumes:
      - ./notebooks:/home/jovyan/work
      - ./data_sipc:/home/jovyan/work/data_sipc
      - ./src:/home/jovyan/work/src
    ports:
      - "8888:8888"