name: CI

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
  check-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Check Python syntax
        run: |
          python -m compileall src airflow/dags

      # Opcional, si más adelante agregamos tests
      - name: Run tests (opcional)
        run: |
          pytest || echo "Sin tests definidos todavía"
